* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 0.2rem 1rem;
  z-index: 1000;
  background-color: transparent;
}

.logo {
  width: 200px;
  color: black;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 200px;
}
.navlinks li {
  position: relative;
}
.navlinks a {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "d-din";
}
.support {
  display: flex;
  list-style: none;
}
.support a {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "d-din";
}

.columncontent {
  height: auto;
  padding: 5rem 2rem;
  color: black;
  background-color: azure;
}
.columncontent1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 0.2rem 6rem;
}

.columncontent1 h1 {
  font-family: Oswald;
  font-size: 30px;
}
button {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.imagecontent {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.gridsection {
  height: auto;
  background-color: white;
  width: 100%;
  align-items: center;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-items1 {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  padding-right: 20px;
  padding-left: 20px;
}
.grid-items1 h3 {
  font-size: 13px;
}

.gridsection1 {
  height: auto;
  background-color: rgba(255, 255, 255, 0.58);
}
.gridheader {
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.gridcontainer1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  padding-left: 60px;
  padding-right: 60px;
}
.grid-items2 {
  padding: 1.5rem;
  box-shadow: 0 5px 15px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background-color: azure;
}

.section3 {
  padding: 5rem 0;
  height: auto;
  background-color: white;
  text-align: center;
}

.column1 {
  display: flex;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.grid-items3 {
  display: flex;
  background-color: azure;
  padding-right: 200px;
  padding-left: 100px;
}
.grid-items3 h5 {
  padding-left: 50px;
  margin-left: 40px;
  font-size: 1rem;
}
.grid-items3 img {
  padding-left: 40px;
}

.twocolumn {
  height: auto;
  padding: 5rem 2rem;
  background-color: azure;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.header1 {
  padding-left: 150px;
  margin-top: 90px;
}

.columncontent2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  padding: 0.2rem 6rem;
}
.text-content h6 {
  margin-bottom: 40px;
  font-size: 40px;
}
.text-content h6 {
  padding-right: 40px;
}
.imagecontent1 img {
  padding-left: 70px;
}

.gridsection2 {
  padding: 5rem 0;
  height: auto;
  background-color: rgba(255, 255, 255, 0.58);
}
.gridheader {
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.gridcontainer2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
  padding-left: 60px;
  padding-right: 60px;
}
.grid-items4 {
  padding: 1.5rem;
  box-shadow: 0 5px 15px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background-color: azure;
  align-items: center;
}
.grid-items4 p {
  font-size: 20px;
}

.gridsection3 {
  height: auto;
  background-color: rgba(255, 255, 255, 0.58);
}
.gridheader {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.gridcontainer3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
  padding-left: 60px;
  padding-right: 60px;
}
.grid-items5 {
  padding: 1.5rem;
  box-shadow: 0 5px 15px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background-color: azure;
}
.grid-items4 p {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.columncontent4 {
  height: auto;
  color: black;
}
.columncontent4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 2rem;
  background-color: azure;
  padding-left: 60px;
}
.text-content4 {
  padding-left: 60px;
  margin-top: 90px;
}
.imagecontent4 img {
  height: auto;
  padding-right: 100px;
}

.columncontent4 h1 {
  color: black;
  font-size: 55px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  background-color: azure;
  align-items: center;
  justify-content: space-between;
}
.middle ul {
  display: flex;
  gap: 36px;
}
.middle li {
  list-style: none;
}
.middle a {
  color: black;
  text-decoration: none;
  font-size: 0.75rem;
}

@media (min-width: 568px) and (max-width: 767px) {
  .columncontent1 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .text-content1 h1 {
    font-size: 15px;
  }
  .text-content1 p {
    font-size: 8px;
  }
  .imagecontent {
    grid-template-columns: 1fr;
  }
  .imagecontent img {
    max-width: 70%;
  }
  .gridcontainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .gridcontainer1 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .column1 {
    grid-template-columns: 1fr;
    display: list-item;
  }

  .columncontent2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .gridcontainer2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .gridcontainer3 {
    grid-template-columns: 3, 1fr;
  }
  .columncontent4 {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .columncontent {
    padding-top: 120px;
  }
  .imagecontent {
    grid-template-columns: 1fr;
  }
  .columncontent1 {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1.5rem;
    text-align: center;
  }
  .columncontent1 img {
    max-width: 100%;
    height: auto;
  }
  .text-content1 h1 {
    font-size: 2rem;
  }
  .text-content1 p {
    font-size: 1rem;
  }

  .text-content1 {
    text-align: center;
  }
  .gridcontainer {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .gridcontainer img {
    max-width: 100%;
  }
  .gridcontainer1 {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .column1 {
    grid-template-columns: 1fr;
    display: list-item;
    gap: 1rem;
  }
  .columncontent2 {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .columncontent2 img {
    max-width: 100%;
    height: auto;
  }
  .text-content h6 {
    font-size: 25px;
  }
  .gridcontainer2 {
    grid-template-columns: 1fr;
  }
  .gridcontainer3 {
    grid-template-columns: 1fr;
  }
  .columncontent4 {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
  }
  .columncontent4 img {
    max-width: 100%;
    height: auto;
  }
  .text-content4 h1 {
    font-size: 25px;
  }
  footer {
    display: none;
  }
}
